/**
 * MAIN SITE SCSS FILE.
 *
 * This is the only file which is turned into a CSS file, the main
 * CSS file that is included on the site.
 */

@import "../../../../bower_components/susy/sass/susy";
@import "../../../../bower_components/breakpoint-sass/stylesheets/breakpoint";

@import "vendor/all";

@import "modules/all";

@import "partials/all";

@include border-box-sizing;


body {
    background: $body-bg;
    color:      $text-color;
    padding:    1em 20px;
    font-family: $font-family-sans-serif;
}


