/**
 * BANNER
 * Title bar at top of page.
 */

.banner {
    @include clearfix;

    background: $brand-primary;
}

.banner__menu {
    @include span(1.5 of $total-columns-small);
    background: $brand-secondary;

    a {
        display: block;
        height: 60px;
        padding-top: 15px;

        .icon {
            display: block;
            background: url("#{$img-path}menu-sprite.png") 0 0 no-repeat;
            background-position: 0px -30px;
            width: 30px;
            height: 40px;
            margin: 0 auto;
        }

        &:hover {
            background-color: $brand-primary;
        
            .icon {
                background-position: 0 0;
            }
        }
    }

    @include breakpoint($breakpoint-small) {
        display: none; 
    }
}

.banner__title {
    background: url("#{$img-path}logo.png") 0 0 no-repeat;
    width: 252px;
    height: 40px;
    margin: $padding-base-vertical 0;

    @include pre(0.5 of $total-columns-small);
    @include span(5 of $total-columns-small);

    @include breakpoint($breakpoint-small) {
        @include pre(1 of $main-columns-large);
        @include span (14 of $main-columns-large);
    }


    span {
        display: none;
    }
}


.subnav {
    @include clearfix;

    background: #fff;
    padding: $padding-base-vertical 0;
}

.subnav__breadcrumbs {
    @include span(6 of $total-columns-small);
    @include pad(0.5 of $total-columns-small);
    font-size: $font-size-small;
    line-height: 1.4em;

    @include breakpoint($breakpoint-small) {
        @include pad(1 of $main-columns-large, 0);
        @include span(14 of $main-columns-large);
        font-size: $font-size-base;
    }

    margin: 0;
}
