

.title {
    font-size: $font-size-larger;
    color: $heading-color;
}

.subtitle {
    font-size: $font-size-large;
}

a {
    color: $link-color;
    text-decoration: underline;

    &:hover {
        color: $link-hover-color;
    }
}

p {
    margin-top: 0;
    margin-bottom: ($line-height-computed / 2);
}
