/**
 * Tables
 */

table {
    width: 100%;
    max-width: 100%;
    margin-bottom: $line-height-full;

    @include breakpoint($large) {
        width: 95%;
        margin-left: 5%;
    }
}

thead,
tbody,
tfoot,
tr,
th,
td {
    padding: $table-cell-padding;
    line-height: $line-height-base;
    vertical-align: top;
    text-align: left;
}
th {
    vertical-align: bottom;
}
th,
td {
    font-size: $font-size-small;
}


// Styling td's and th's:
.d-head {
    font-weight: bold;
}
.d-number {
    text-align: right;
}
// Could use table--lined for this, but we're using the same HTML for all three designs.
table {
    tbody,
    tfoot,
    tbody tr,
    td {
        border-top: 1px solid $table-border-color;
    }

    // Account for multiple tbody instances
    tbody + tbody {
        border-top: 2px solid $table-border-color;
    }
}

