.shade-1 { background-color: $shade-1-bg; }
.shade-2 { background-color: $shade-2-bg; }
.shade-3 { background-color: $shade-3-bg; }
.shade-4 { background-color: $shade-4-bg; }
.shade-5 { background-color: $shade-5-bg; }
.shade-6 { background-color: $shade-6-bg; }

