

/****************************************************************************
 * COLORS.
 */

$body-bg:               #fff;
$text-color:            #333;
$link-color:            #3A99D8;
$link-hover-color:      darken($link-color, 15%);


$stripe-default-bg:     #ededed;
$stripe-highlight-bg:   $body-bg;

// Colours for shaded panels and the text within them.
$shade-1-bg:                #90C0D7;
$shade-1-color:             $text-color;
$shade-1-link-color:        $shade-1-color;
$shade-1-link-hover-color:  darken($shade-1-link-color, 15%);

$shade-2-bg:                #4890A8;
$shade-2-color:             #000;
$shade-2-link-color:        $shade-2-color;
$shade-2-link-hover-color:  darken($shade-2-link-color, 15%);

$shade-3-bg:                #186078;
$shade-3-color:             #ededed;
$shade-3-link-color:        $shade-3-color;
$shade-3-link-hover-color:  darken($shade-3-link-color, 15%);

$shade-4-bg:                #0D3640;
$shade-4-color:             #ededed;
$shade-4-link-color:        $shade-4-color;
$shade-4-link-hover-color:  darken($shade-4-link-color, 15%);


$help-bg:                  #FCBB69;
$help-color:               $text-color;

$warn-bg:                   #C02F43;
$warn-color:                #fff;

/****************************************************************************
 * BREAKPOINTS.
 */

$wrap-max-width: 1140px;

/* IF YOU CHANGE THESE, CHANGE THEM IN layout.blade.php's JS too. */
$medium: 600px;
$large:  990px;

$total-large-columns:   24;
$navbar-large-columns:  5;
$main-large-columns:    19;

$with-sidebar-large-columns: 9;
$sidebar-large-columns: 6;



/****************************************************************************
 * PATHS.
 */

$img-path: '../../../images/testing/test02/';

/****************************************************************************
 * FONT SIZES.
 */

$font-size-largest:     28px;
$font-size-larger:      24px;
$font-size-large:       20px;
$font-size-base:        19px;
$font-size-smallish:    18px;
$font-size-small:       15px;

// Unit-less `line-height` for use in components like buttons.
$line-height-base: 1.3;
// For use in things like margin, padding, etc.
$line-height-full: $font-size-base * $line-height-base;
$line-height-half: ceil($line-height-full / 2);


/****************************************************************************
 * SPACING.
 */

$padding-base-vertical:     10px;
$padding-base-horizontal:   15px;

$padding-large-vertical:    20px;
$padding-large-horizontal:  $padding-base-horizontal * 2;

$padding-small-vertical:    5px;
$padding-small-horizontal:  ceil($padding-base-horizontal / 2);

$line-height-large:         1.5;
$line-height-small:         1.2;

$border-radius-base:         5px;
$border-radius-large:        10px;
$border-radius-small:        0px;


/****************************************************************************
 * BUTTONS
 */

$btn-font-weight:       normal;

$btn-default-color:     #fff;
$btn-default-bg:        #0D50A0;
$btn-default-border:    $btn-default-bg;

$btn-link-disabled-color:  #999;

/****************************************************************************
 * TABLES.
 */

$table-cell-padding: 0.3em $padding-small-horizontal;
$table-border-color: $text-color;
$table-font-size: $font-size-small;

$table-striped-head-bg:    $shade-1-bg;
$table-striped-accent-bg:  #E9F2F7;

/****************************************************************************
 * INPUTS.
 */

$input-bg:                       #fff;
$input-bg-disabled:              #999;

$input-color:                    $text-color;
$input-border:                   #ccc;
$input-border-radius:            0;
$input-border-focus:             #66afe9;

//** Default `.form-control` height
$input-height-base:              ($line-height-full + ($padding-base-vertical * 2) + 2);
//** Large `.form-control` height
$input-height-large:             (ceil($font-size-large * $line-height-large) + ($padding-large-vertical * 2) + 2);
//** Small `.form-control` height
$input-height-small:             (floor($font-size-small * $line-height-small) + ($padding-small-vertical * 2) + 2);


/****************************************************************************
 * SUSY
 *
 * Defaults.
 */
$susy: (
  container: ($wrap-max-width),
  container-position: left,
  columns: 4, // For smallest width.
  gutters: 0,
  column-width: false,

  output: float,
  gutter-position: after,

  flow: ltr,
  math: fluid,
  // Requires us to set `@include border-box-sizing` elsewhere:
  global-box-sizing: border-box,
  last-flow: to,

  debug: (
    image: hide,
    color: rgba(#66f, .25),
    output: background,
    toggle: top right,
  ),
  use-custom: (
    background-image: true,
    background-options: false,
    box-sizing: true,
    clearfix: false,
    rem: true,
  )
);


