/**
 * COLOR DEFINITIONS.
 *
 * Defines the colors we will use across the site.
 * This is our palette, which is used within _variables.scss and elsewhere.
 */
/***************************************************************************
 * COLORS
 */
/***************************************************************************
 * PRIMARY
 */
/***************************************************************************
 * STATE COLORS.
 * Used for Alerts, Media, States and form field validation states.
 */
/***************************************************************************
 * PRIORITY COLORS.
 * Used for Media, Priorities.
 */
/***************************************************************************
 * HEADERS. h1, h2, etc.
 */
/**
 * VARIABLES.
 *
 * All non-color variables.
 */
/***************************************************************************
 * BREAKPOINTS
 */
/***************************************************************************
 * TEXT SIZES
 */
/***************************************************************************
 * FONT WEIGHTS
 */
/***************************************************************************
 * LINE HEIGHTS
 */
/* eg, 20px when font size is 14px */
/***************************************************************************
 * LINKS
 */
/****************************************************************************
 * TABLES.
 */
/***************************************************************************
 * PANELS
 */
/***************************************************************************
 * FORMS
 */
/***************************************************************************
 * PADDED BOXES.
 * Used for shaded boxes of various kinds.
 * Usually, use the .box class and modifications like .box--1, etc.
 */
/***************************************************************************
 * REVEALERS
 */
/***************************************************************************
 * BADGES.
 */
/***************************************************************************
 * MENUS.
 */
/***************************************************************************
 * LETTERS.
 */
/***************************************************************************
 * BANNER
 * The top of page stripes.
 */
/***************************************************************************
 * FOOTER
 */
/***************************************************************************
 * FILE-PATHS
 */
/****************************************************************************
 * SUSY
 */
/**
 * TYPE
 *
 * Styles for basic type-related styles. Headings, paragraphs, etc.
 *
 * When we use h1, h2 etc within other elements we'll probably need to
 * give them a class and assign specific sizes, margins etc to that
 * particular usage.
 */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.3;
  color: #253460;
  margin-top: 37.5px;
  margin-bottom: 25px;
  font-weight: 700; }

h1 {
  font-size: 36px;
  margin-top: 37.5px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 24px;
  margin-bottom: 20px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 16px; }

h1 + h2,
h2 + h3,
h4 + h5,
h5 + h6 {
  margin-top: -20px; }

h3 + h4 {
  margin-top: -15px; }

p {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
  margin: 0 0 1em 0; }

b,
strong {
  font-weight: 600; }

a {
  color: #253460;
  text-decoration: underline; }
  a:hover, a:focus {
    color: #253460; }
  a:active {
    color: #034EA2; }
  a:visited {
    color: #253460; }

hr {
  margin-top: 25px;
  margin-bottom: 25px;
  border: 0;
  border-top: 1px solid #CCC; }

/**
 * LISTS MIXINS.
 */
/* Base */
/**
 * Style Guide
 *
 * Basic utility classes.
 * And one or two odds and ends that coule be moved elsewhere at some point.
 */
body {
  padding-top: 0px;
  font-family: 'Open Sans', sans-serif;
  background-color: #EFF3F3; }

.starter-template {
  padding: 0px;
  text-align: left; }

#logo {
  padding: 15px 0px 15px 0px; }

.navbar-inverse {
  background-color: #004B88;
  border-color: #080808; }

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
  background-color: #003a6a;
  font-weight: 600; }

.navbar-inverse .navbar-nav > li > a {
  color: #A5BDDC;
  padding-top: 25px;
  padding-bottom: 25px; }

.navbar-nav {
  float: right; }

.row {
  margin-bottom: 15px; }

.row--white {
  background-color: #FFF;
  margin-top: 20px;
  margin-bottom: 15px;
  padding: 2em 2em 0 2em; }

ol li {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
  margin: 0 0 0.5em 0; }

/***************************************************************************
 * Page status
 * Badge
 */
.status {
  padding: 10px 0 8px 0;
  border-bottom: 1px solid #bfc1c3; }

.alpha-badge {
  font-weight: 700;
  color: #191926;
  background-color: #E9E083;
  display: inline-block;
  float: left;
  padding: 0.5em;
  margin-right: 0.5em;
  margin-top: -10px;
  margin-bottom: 20px; }

.breadcrumb {
  background-color: #EFF3F3; }

/***************************************************************************
 * Colours
 * Swatches
 */
.swatch {
  height: 110px;
  width: 110px;
  margin-right: 20px;
  margin-bottom: 10px;
  border-radius: 50%;
  text-align: center;
  line-height: 0.8; }
  .swatch p {
    margin-top: 25%;
    line-height: 1.28;
    font-weight: 600; }
  .swatch.swatch--brand--heritage-blue {
    background-color: #004B88;
    color: #FFF; }
  .swatch.swatch--brand--heritage-yellow {
    background-color: #FCBB69; }
  .swatch.swatch--brand--responsible-purple {
    background-color: #57486B;
    color: #FFF; }
  .swatch.swatch--brand--responsible-aqua {
    background-color: #90CE9C; }
  .swatch.swatch--brand--inventive-teal {
    background-color: #006278;
    color: #FFF; }
  .swatch.swatch--brand--inventive-pink {
    background-color: #FBC0AD; }
  .swatch.swatch--brand--generous-green {
    background-color: #00553F;
    color: #FFF; }
  .swatch.swatch--brand--generous-mauve {
    background-color: #B5AFD7; }
  .swatch.swatch--product-status--alpha {
    background-color: #C02F43;
    color: #FFF; }
  .swatch.swatch--product-status--beta {
    background-color: #E9E083; }
  .swatch.swatch--primary--text {
    background-color: #00553F;
    color: #FFF; }
  .swatch.swatch--primary--generous-mauve {
    background-color: #B5AFD7; }
  .swatch.swatch--extended--blue-darker {
    background-color: #32457E;
    color: #FFF; }
  .swatch.swatch--extended--blue-lighter {
    background-color: #A5BDDC;
    color: #000; }
  .swatch.swatch--extended--red {
    background-color: #B53A1F;
    color: #FFF; }
  .swatch.swatch--extended--red-heritage {
    background-color: #623534;
    color: #FFF; }
  .swatch.swatch--extended--red-brighter {
    background-color: #C02F43;
    color: #FFF; }
  .swatch.swatch--extended--red-mellow {
    background-color: #df3034;
    color: #FFF; }
  .swatch.swatch--extended--purple {
    background-color: #503460;
    color: #FFF; }
  .swatch.swatch--extended--mauve {
    background-color: #C5A5CE;
    color: #FFF; }
  .swatch.swatch--extended--pink {
    background-color: #F9B9BA;
    color: #FFF; }
  .swatch.swatch--extended--peach {
    background-color: #F8A484;
    color: #FFF; }
  .swatch.swatch--extended--orange {
    background-color: #FCBB69;
    color: #FFF; }
  .swatch.swatch--extended--yellow {
    background-color: #E9E083;
    color: #FFF; }
  .swatch.swatch--extended--green-heritage {
    background-color: #00553F;
    color: #FFF; }
  .swatch.swatch--extended--green-blue {
    background-color: #005E7F;
    color: #FFF; }
  .swatch.swatch--extended--green {
    background-color: #008286;
    color: #FFF; }
  .swatch.swatch--extended--turquoise {
    background-color: #81CEC6;
    color: #000; }
  .swatch.swatch--mono--black {
    background-color: #000;
    color: #FFF; }
  .swatch.swatch--mono--gray1 {
    background-color: #333;
    color: #FFF; }
  .swatch.swatch--mono--gray2 {
    background-color: #666;
    color: #FFF; }
  .swatch.swatch--mono--gray3 {
    background-color: #999;
    color: #000; }
  .swatch.swatch--mono--gray4 {
    background-color: #CCC;
    color: #000; }
  .swatch.swatch--mono--gray5 {
    background-color: #EEE;
    color: #000; }
  .swatch.swatch--mono--gray6 {
    background-color: #DFE1E3;
    color: #000; }
  .swatch.swatch--mono--gray7 {
    background-color: #F8F8F8;
    color: #000; }
  .swatch.swatch--mono--white {
    background-color: #FFF;
    color: #000; }

/* Enhancements for style guide */
.show-grid [class^=col-] {
  padding: 10px;
  background-color: #eee;
  background-color: #A5BDDC;
  border: 1px solid #034EA2; }

/* Form */
.checkbox label, .radio label {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
  color: #191926;
  padding: 15px 37.5px;
  background-color: #FFF;
  display: block;
  margin: 15px 0; }

/*# sourceMappingURL=main.css.map */
